<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <ul class="nav-area">
                    <li><a href="#">Patient Registration</a></li>
                    <li><a href="#">View Records</a></li>
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="welcome-text">
                <h1>Welcome to the DEpartment of Ayurveda NCP</h1>
                <a href="#">Contact Us</a>
            </div>
        </header>
    </body>
</html>
