<p>patient-addmission works!</p>
<mat-toolbar>
  <button id="menu-btn" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbar-title">Patient Registration</span>



  <span class="right-btn">
    <button id="new-patient-btn" mat-raised-button color="primary">Add New Patient</button>
    <button id="new-admission-btn" mat-raised-button color="primary">New Admission</button>
    <button id="avatar-btn" mat-mini-fab color="primary">
      <mat-icon>person</mat-icon>
    </button>
  </span>
</mat-toolbar>

<div class=>
  <mat-label>Hospital</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-label>Parent's or guardian's name</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>fill here</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<span>
  <div>
    <label for="">Address</label>
    <mat-form-field>
      <mat-label>fill here</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</span>

<span>
  <div>
    <label>Phone number</label>
    <mat-form-field>
      <mat-label>Area Code</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</span>

<div>
  <mat-label>patient's name</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>fill here</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div>
  <mat-label>NIC</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>fill here</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div>
  <span>
    <div>
      <mat-label>Age</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>fill here</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </span>

  <span>
    <div>
      <mat-label>Birth Place</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>fill here</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </span>
</div>

<div>
<label >Gender</label>

</div>