<div class="header">
    <form>
        <div class="form-box">
            <h2>Search category</h2>
            
            <input class="search-for category" name="search" type="checkbox" checked=""/>
            <span class="checkmark"></span> User

            <input class="search-for category" name="search" type="checkbox"/>
            <span class="checkmark"></span> Patient
        
            <h2>Search Index</h2>
            <label for="fullName">Full Name</label><br>
            <input class="search-by name" name="fullName" type="text"/><br><br>
            
            <label for="Id">Patient ID / User ID</label><br>
            <input class="search-by id" name="id" type="text"/><br><br>

            <label for="hospital">Hospital</label><br>
            <input class="search-by hoaspital" name="hoaspital" type="text"/><br><br>

            <label for="date">Date</label><br>
            <input type="date" class="search-by date" ><br><br>

            <button class="search-button" type="button">SEARCH</button>
        </div>
    </form>
</div>