<mat-toolbar color = "Primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
  
      <p class="mainHeading"> Patient Registration</p>
  
      <span class="flexExpand"></span>
      <button mat-raised-button color="primary"> Add new Patient</button>
      <span class="gap"></span>
      <button mat-raised-button color="primary"> New Addmission</button>
      <span class="gap"></span>
      <button mat-icon-button><mat-icon>person</mat-icon></button>
    
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="container">
    <form action="">
      <div class="row">
        <div class="col-25">
          <label for="location">Location</label>
        </div>
        <div class="col-75">
          <mat-radio-group aria-label="Select Gender">
            <mat-radio-button value="1">Hospital</mat-radio-button>
            <span class="gap"></span>
        
            <mat-radio-button value="2">CD</mat-radio-button>
            <span class="gap"></span>
          </mat-radio-group>
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="pname">Patient's name</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="nic">National ID No</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="age">Age</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>  
  
      <div class="row">
        <div class="col-25">
          <label for="gender">Gender</label>
        </div>
        <div class="col-75">
          <mat-radio-group aria-label="Select Gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <span class="gap"></span>
        
            <mat-radio-button value="2">Female</mat-radio-button>
            <span class="gap"></span>
        
            <mat-radio-button value="3">Other</mat-radio-button>
            <span class="gap"></span>
          </mat-radio-group>  
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="address">Address</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline" placeholder="Enter address...">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="phone-no">Phone No</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline" placeholder="Enter phone number...">
            <input matInput type="tel" id="phone-no">
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="occupation">Occupation</label>
        </div>
        <div class="col-75">
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="other-notes">Other notes</label>
        </div>
      </div>
  
      <div>
        <textarea id="other-notes" name="other-notes" placeholder="Other notes..." style="height:200px"></textarea>
      </div>
  
      <div class="row">
      <br/>
      <button mat-raised-button color="primary">Save Details</button>
      <span class="button-gap"></span>
    
      <button mat-raised-button color="warn"> Cancel</button>
      <span class="button-gap"></span>
    
      <button mat-raised-button color="basic">Admit to Ward</button>
      <span class="button-gap"></span>
      </div>
      
    </form>
  </div> 