#new-patient-btn, #new-admission-btn, #menu-btn {
  margin-right: 10px;
  vertical-align: middle;
}

.right-btn {
  float: right;
  margin: 10px;
}

.toolbar-title {
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}



.bottom-btn {
  display: block;
}

.bottom-btn button {
  margin: 10px; 

}


.input-element {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.input-element label {
  flex-basis: 20%;
  margin: 5px;
  display:inline-block;
}


#other-notes {
  width: 75%
}

.form{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.input-element mat-form-field {
  width: 60%;
  margin-right: 10px;
  margin-left: 10px;
}

.input-element mat-radio-group {
  margin-bottom: 10px;
}

.input-element mat-radio-button{
  margin-right: 30px;
  margin-left: 10px;
}

#gender-ele-id {
  margin-top: 10px;
  margin-bottom: 20px;
}


@media screen and (max-width: 600px){
  #new-patient-btn, #new-admission-btn {
      display: none;
  }   
}

@media screen and (max-width: 500px){
  .input-element {
    display: block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .input-element label {
    display: block;
    margin: 5px;
  }
}

