<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="form2style.css">
</head>
<body>
    <div class="loginform">
        <h3>Welcome</h3>
        <form>
                <img src="logo1.jpg" alt="">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter username">
                <p>Password</p>
                <input type="password" name="password" placeholder="*********">
                 <input type="submit" name="submit" value="Login Here">
                <a href="#">Forget password</a>

        </form>

    </div>
</body>
</html>
